body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.hero {
    background-color: #1F2937;
    padding: 1rem 15vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.header-links a, .second-text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

.header-links a {
    text-decoration: none;
}

.hero-text {
    display: flex;
    padding: 80px 0;
}

.hero-text .left .sign-up-btn {
    margin-top: 10px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text img {
    width: 25vw;
    min-width: 360px;
}

.sign-up-btn {
    background-color: #3882F6;
    color: #FFF;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 18px;
}

.info {
    padding: 3rem 20vw 100px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 10px;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.info-card {
    text-align: center;
}

.info-image img {
    width: 160px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 20vw;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    font-size: 30px;
    font-weight: bold;
    text-align: end;
}